.about-section {
    width: 100%;
    height: 32vh;
    background-color: #ffffff;
    border-bottom: 2px solid black;
}
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 100%;
    height: 32vh;
}
.left-content-about {
    margin-left: 2rem;
    width: 14vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title-about {
    font-family: "sfbold";
    font-size: 4em;
    width: 14vw;
    margin-top: 3rem;
}
.right-content-about {
    margin-right: 15px;
    width: 75vw;
    height: 100%;
    display: flex;
}
.about-text {
    margin-top: 3rem;
    font-family: "sfregular";
    font-size: 1.35em;
}
/* Téléphone */
@media only screen and (max-width: 414px) {
    .about-section {
        height: 60vh;
    }
    .about-content {
        flex-direction: column;
        height: 60vh;
    }
    .left-content-about {
        margin-left: 1rem;
        width: 100vw;
        flex-direction: column;
        height: auto;
    }
    .title-about {
        font-size: 3em;
        width: 100vw;
        margin-top: 1rem;
    }
    .right-content-about {
        width: 100vw;
    }
    .about-text {
        width: 100vw;
        margin-left: 1rem;
        margin-right: 2rem;
        margin-top: 1rem;
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 375px) {
    .about-section {
        height: 70vh;
    }
    .about-content {
        flex-direction: column;
        height: 70vh;
    }
    .title-about {
        font-size: 2.8em;
    }
    .about-text {
        font-size: 1em;
    }
}