.experience-section {
    width: 100%;
    height: 70vh;
    background-color: #040404;
}
.darker2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.experience-title {
    color: #fff;
    font-family: "sfbold";
}
.experience-title h2 {
    font-size: 4em;
}
.experience-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    width: 100%;
    height: 50vh;
    color: #000;
}
.title-exp {
    font-family: "sfbold";
    font-size: 1.6em;
    margin-left: 0.5vw;
}
.date-exp {
    font-family: "sfregular";
    font-size: 1em;
    margin-left: 0.5vw;
}
.text-exp {
    font-family: "sfmed";
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 0.5vw;
    width: 18vw;
}
.experience-item {
    background-color: white;
    width: 22vw;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
/* Téléphone */
@media only screen and (max-width: 600px) {
    .experience-section {
        height: 80vh;
    }
    .experience-title h2 {
        font-size: 3em;
    }
    .experience-content {
        height: 60vh;
        flex-wrap: wrap;
    }
    .title-exp {
        font-size: 1.2em;
        margin-left: 0.5rem;
    }
    .date-exp {
        font-size: 0.8em;
        margin-left: 0.5rem;
    }
    .text-exp {
        font-size: 1em;
        width: 90%;
        margin-left: 0.5rem;
    }
    .experience-item {
        width: 80vw;
        height: 13vh;
    }
}
@media only screen and (min-width: 425px) and (max-width: 500px) {

}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .experience-item {
        height: 15vh;
    }
    .experience-content {
        height: 70vh;
    }
    .title-exp {
        font-size: 1.1em;
    }
    .date-exp {
        font-size: 0.7em;
    }
    .text-exp {
        font-size: 0.9em;
    }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .experience-item {
        height: 15vh;
    }
    .experience-content {
        height: 70vh;
    }
    .title-exp {
        font-size: 1.1em;
    }
    .date-exp {
        font-size: 0.7em;
    }
    .text-exp {
        font-size: 0.9em;
    }
}