.parcours-section {
    width: 100%;
    height: 40vh;
    background-color: #ffffff;
    border-bottom: 2px solid black;
}
.parcours-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 100%;
    height: 40vh;
}
.left-content-parcours {
    margin-left: 2rem;
    width: 14vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title-parcours {
    font-family: "sfbold";
    font-size: 4em;
    width: 14vw;
    margin-top: 3rem;
}
.right-content-parcours {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.parcours-item {
    height: 25vh;
    width: 25vw;
}
.item-parcours-title {
    font-family: "sfbold";
    font-size: 1.6em;
}
.item-parcours-date {
    font-family: "sfregular";
    font-size: 1em;
}
.item-parcours-text {
    margin-top: 10px;
    font-family: "sfmed";
    font-size: 1.2em;
}
.item-parcours-order {
    font-size: 2.5em;
    font-family: "sfbold";
}
/* Téléphone */
@media only screen and (max-width: 600px) {
    .parcours-section {
        height: 115vh;
    }
    .parcours-content {
        flex-direction: column;
        height: 100vh;
    }
    .left-content-parcours {
        margin-left: 1rem;
        width: 100vw;
        height: auto;
    }
    .title-parcours {
        font-size: 3em;
        width: 100vw;
        margin-top: 1rem;
    }
    .right-content-parcours {
        width: 100vw;
        flex-direction: column;
        align-items: start;
    }
    .parcours-item {
        height: 25rem;
        margin-left: 1rem;
        width: 90vw;
    }
    .item-parcours-title {
        font-size: 1.4em;
    }
    .item-parcours-date {
        font-size: 0.8em;
    }
    .item-parcours-text {
        font-size: 1em;
    }
    .item-parcours-order {
        font-size: 2.3em;
    }
}
@media only screen and (min-width: 425px) and (max-width: 500px) {
    .parcours-section {
        height: 110vh;
    }
    .parcours-content {
        height: 110vh;
    }
    .parcours-item {
        height: 30vh;
    }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
    .parcours-section {
        height: 110vh;
    }
    .parcours-content {
        height: 110vh;
    }
    .parcours-item {
        height: 30vh;
    }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
    .parcours-section {
        height: 110vh;
    }
    .parcours-content {
        height: 110vh;
    }
    .parcours-item {
        height: 30vh;
    }
    .item-parcours-title {
        font-size: 1.3em;
    }
    .item-parcours-date {
        font-size: 0.7em;
    }
    .item-parcours-text {
        font-size: 0.9em;
    }
    .item-parcours-order {
        font-size: 2.2em;
    }
}