footer {
    width: 100%;
    height: 5vh;
    font-family: "sfregular";
    display: flex;
    background-color: #040406;
}
.left-footer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.left-footer p {
    color: #353535;
    margin-left: 20px;
}
.right-footer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkedin-img {
    height: 80%;
}
.linkedin-img:hover {
    cursor: pointer;
}
.a-linkedin {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Téléphone */
@media only screen and (max-width: 480px) {
    .left-footer p {
        font-size: 12px;
        margin-left: 1rem;
    }
    .linkedin-img {
        height: 60%;
    }
    .a-linkedin {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}